$bg-primary: #15161b;

$color-primary: #e7eaf1;
$pixel: 1,2,3,4,5,6,7,8,9,10,15,20,25,30,40,50,60,70,80,90,100,120,140,150,200;

@each $item in $pixel {
  .br-#{$item} {
    border-radius: #{$item};
  }
}

$display: block, none, table, flex;
@each $item in $display {
  .d-#{$item} {
    display: #{$item};
  }
}

.t-midden{
  display: table-cell!important;
  text-align: center!important;
  vertical-align: middle!important;
}

html, body { height: 100%; }

#root{
  width: 100vw;
  height: 100vh;
  border-radius: 10px;
  //box-shadow:8px 8px 10px grey;
  //-webkit-app-region: drag;
  background: $bg-primary;
  overflow: hidden;
}



.semi-tree-option-selected{
  background: $bg-primary!important;
  border-radius: 5px;
}
.semi-tree-option-expand-icon{
  color: $color-primary!important;
}
